section.coolSection {
  /* display: flex;
  justify-content: center; */
  height: 100vh;
  background-color: #111;
  color: white;
}

#tiles {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 5%;
  width: 5%;
}

.tile {
  outline: 1px white solid;
  color: red;
}