section.homeSection {
  height: 100vh;
}

.side {
  height: 100vh;
  width: 100%;

  /* display: flex;
  justify-content: center;
  align-items: center; */

  display: grid;
  place-items: center;

  position: absolute;
  overflow: hidden;
}

.side .title {
  /* font-family: "Rubik", sans-serif; */
  font-size: 5rem;
  margin: 0px 30vw;
  width: 40vw;
}

.side .fancy {
  display: block;
  font-family: "Handlee", cursive;
  font-size: 1.3em;
}

#leftSide .title {
  color: white;
}

#rightSide .title {
  color: white;
}

#leftSide .ordinary {
  text-shadow: 5px 5px hsl(209, 43%, 53%);
}

#rightSide .ordinary {
  text-shadow: 5px 5px hsl(149, 67%, 68%);
}

#leftSide .fancy {
  color: hsl(223, 53%, 16%);
}

#rightSide .fancy {
  color: hsl(223, 53%, 16%);
}

#leftSide {
  background-color: hsl(149, 67%, 68%);
  /* background-color: black; */
  z-index: 1;
}

#rightSide {
  background-color: hsl(210, 63%, 57%);
}

.arrow {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 90%;
  width: 4rem;
  height: 4rem;
  font-size: 2.5rem;
  color: #333;
  z-index: 100;
  border-radius: 2rem;
  border: 3px solid #333;
}

.arrowContainer {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
