.image {
  width: 30vmin;
  height: 50vmin;
  object-fit: cover;
  object-position: center center;
  transition: transform 0.5s ease;
  box-shadow: 2em 1em hsl(48, 80%, 62%);
}

.image:hover {
  filter: brightness(0.9);
  transform: scale(0.98);
}
