section.storyPageSection {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: hsl(248, 67%, 51%);
}

.headerTrack {
  position: absolute;
  left: -50%;
  color: white;
  width: 600px;
  height: 600px;
  z-index: 1;
}

#imageTrack {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  /* top: 50%; */
  transform: translate(-50%, 30%);
}

p.storyParagraph {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 180%;
  width: 80vmin;
  text-align: center;
  color: #f8eddc;
  font-size: 1.2rem;
  transition: 1s ease-in-out;
}
