section.storyPageSection {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #f8eddc;
  background-color: black;
}

.headerTrack {
  position: absolute;
  left: 5%;
  /* top: 110%; */
  color: white;
  width: 600px;
  height: 600px;
  z-index: 1;
}

.headerTrack > h2 {
  font-size: 7rem;
}

.headerTrack > p {
  height: 40vmin;
}

#imageTrack {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  /* top: 50%; */
  transform: translate(-50%, 30%);
}

.storyParagraph {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 180%;
  color: #f8eddc;
  font-size: 1.2rem;
}
