section.storyPageSection {
  height: 100vh;
  width: 100%;
  /* background-color: #F8EDDC; */
  background-color: #333;
  /* margin: 0rem; */
  /* overflow: hidden; */
}

#imageTrack > .image {
  width: 30vmin;
  height: 50vmin;
  object-fit: cover;
  object-position: 100% 50%;
}

#imageTrack {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  /* top: 50%; */
  transform: translate(0%, 30%);
}
