@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Poppins:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body::-webkit-scrollbar {
  display: none;
} */

::-webkit-scrollbar-track {
  border-radius: 0.125rem;
  background-color: #bbb;
}
::-webkit-scrollbar {
  width: 0.25rem;
  border-radius: 0.125rem;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.125rem;
  background-color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

